include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include custom_app_iag *.css
recursive-include custom_app_iag *.csv
recursive-include custom_app_iag *.html
recursive-include custom_app_iag *.ico
recursive-include custom_app_iag *.js
recursive-include custom_app_iag *.json
recursive-include custom_app_iag *.md
recursive-include custom_app_iag *.png
recursive-include custom_app_iag *.py
recursive-include custom_app_iag *.svg
recursive-include custom_app_iag *.txt
recursive-exclude custom_app_iag *.pyc